from flask import Flask, request, render_template, jsonify
import os
import json # JSON formatını okumak için ekledik
from chatbot_logic import ChatBot

app = Flask(__name__)
bot = ChatBot()

# Render'daki 'DEBUG_USERS' değişkenini oku
# Eğer boşsa varsayılan olarak admin:serce123 kullanır
users_json = os.environ.get("DEBUG_USERS", '{"admin": "serce123"}')

try:
    # JSON formatındaki metni Python sözlüğüne çevirir
    DEBUG_PASSWORDS = json.loads(users_json)
except Exception as e:
    print(f"Şifre listesi okunurken hata: {e}")
    DEBUG_PASSWORDS = {"admin": "serce123"}

@app.route('/')
def index():
    return render_template('index.html')

@app.route('/debug')
def debug_page():
    return render_template('debug.html')

@app.route('/get')
def get_bot_response():
    user_text = request.args.get('msg')
    if not user_text:
        return jsonify({"response": "..."})
    return jsonify({"response": bot.predict(user_text)})

@app.route('/teach_debug', methods=['POST'])
def teach_bot():
    data = request.json
    user = data.get('user')
    password = data.get('password')
    etiket = data.get('tag')
    cevap = data.get('response')

    if user in DEBUG_PASSWORDS and str(DEBUG_PASSWORDS[user]) == str(password):
        soru = bot.teach(etiket, cevap)
        return jsonify({"status": "success", "message": f"'{soru}' başarıyla kaydedildi!"})
    else:
        return jsonify({"status": "error", "message": "Yetkisiz erişim!"}), 403

if __name__ == "__main__":
    app.run()
